<div class="container">
	<h1>Editing Party</h1>

	<%= render 'form' %>
	<div class="row">
		<p>
		<br/>
		<%= link_to 'Show', @party, class: "btn btn-default btn-sm" %>
		<%= link_to 'Back', parties_path, class: "btn btn-default btn-sm" %>
		</p>
	</div>
	<br/>
</div>