<div class="container">
	<h1>Editing Zipcode</h1>

	<%= render 'form' %>
	<div class="row">
		<p>
		<br/>
		<%= link_to 'Show', @zipcode, class: "btn btn-default btn-sm" %>
		<%= link_to 'Back', zipcodes_path, class: "btn btn-default btn-sm" %>
		</p>
	</div>
	<br/>
</div>