<div class="container">
	<h1>Editing Artist</h1>

	<%= render 'form' %>
	<div class="row">
		<p>
		<br/>
		<%= link_to 'Show', @artist, class: "btn btn-sm btn-default" %>
		<%= link_to 'Back', artists_path, class: "btn btn-sm btn-default" %>
		</p>
	</div>
</div>
