<h1>Editing What We Do</h1>

<%= render 'form' %>

<div class="panel-body">
	<%= link_to 'Show', @what, class: "btn btn-sm btn-default" %>
	<%= link_to 'Back', whats_path, class: "btn btn-sm btn-default" %>
</div>

