<div class="container">
	<h1>New What We Do</h1>

	<%= render 'form' %>
	<div class="row">
		<p>
		<br/>
		<%= link_to 'Back', whats_path, class: "btn btn-default btn-sm" %>
		</p>
	</div>
	<br/>
</div>