<!--=== Slider ===-->
<div class="layer_slider">
    <div id="layerslider-container-fw">        
        <div id="layerslider" style="width: 100%; height: 550px; margin: 0px auto; ">
            <!--First Slide-->
            <div class="ls-layer" style="slidedirection: right; transition2d: 24,25,27,28; ">
                <img src="/assets/blurry_sky.png" class="ls-bg img-responsive" alt="Slide background">
                <img src="assets/custom_pnp2.jpg" alt="Slider Image" class="ls-s-1" style=" top:50px; 
                left: -50px; slidedirection : left; slideoutdirection : bottom; durationin : 1500; durationout : 1500; ">

                <span class="ls-s-1" style=" text-transform: none; line-height: 45px; font-size:35px; color:#fff; top:200px; left: 590px; slidedirection : top; slideoutdirection : bototm; durationin : 3500; durationout : 3500; ">
                    Hand and Footprint <br> Works of heArt
                </span>

                <a class="btn-u btn-success ls-s1" href="#" style=" padding: 9px 20px; font-size:25px; top:340px; left: 590px; slidedirection : bottom; slideoutdirection : top; durationin : 3500; durationout : 3500; ">
                    Book a Gallery Now
                </a>
            </div>
            <!--End First Slide-->

            <!--Second Slide-->
            <div class="ls-layer" style="slidedirection: top; ">
                <!--<img src="assets/bg/5.jpg" class="ls-bg img-responsive" alt="Slide background">-->
                     <img src="assets/bg/blurry_sky.png" class="ls-bg img-responsive" alt="Slide background">

                <i class="icon-chevron-sign-right ls-s-1" style=" color: #fff; font-size: 24px; top:70px; left: 40px; slidedirection : left; slideoutdirection : top; durationin : 1500; durationout : 500; "></i> 

                <span class="ls-s-2" style=" color: #fff; font-weight: 200; font-size: 30px; top:100px; left: 70px; slidedirection : top; slideoutdirection : bottom; durationin : 1500; durationout : 500; ">
                 Piggies + Paws
                </span>

               <span class="ls-s-2" style=" color: #fff; font-weight: 200; font-size: 22px; top:150px; left: 70px; slidedirection : top; slideoutdirection : bottom; durationin : 2500; durationout : 1500; ">
                <i class="fa fa-check"></i>
                  Welcome to where hand and foot prints are transformed into custom artwork by licensed artists.
                    </span>

                <span class="ls-s-2" style=" color: #fff; font-weight: 200; font-size: 22px; top:200px; left: 70px; slidedirection : top; slideoutdirection : bottom; durationin : 3500; durationout : 2500; ">
                <i class="fa fa-check"></i>
                        We specialize in one-of-a-kind, frameable hand and foot print art featuring your children or loved ones, hand created with love, just for you!
                </span>
                <span class="ls-s-2" style=" color: #fff; font-weight: 200; font-size: 22px; top:275px; left: 70px; slidedirection : top; slideoutdirection : bottom; durationin : 4500; durationout : 2500; ">
                <i class="fa fa-check"></i>
                        Hosting or attending a home gallery is where your journey of heArt begins as an artist starts the creation of your unique work of heArt!
                </span>
                <img src="assets/mockup/frame.png" alt="Slider Image" class="ls-s-1" style=" top:325px; left: 350px; slidedirection : right; slideoutdirection : bottom; durationin : 1500; durationout : 1500; ">
                     <img src="assets/mockup/darth.png" alt="Slider Image" class="ls-s-1" style=" top:325px; left: 600px; slidedirection : right; slideoutdirection : bottom; durationin : 1500; durationout : 1500; ">
                     <img src="assets/mockup/cross.png" alt="Slider Image" class="ls-s-1" style=" top:325px; left: 850px; slidedirection : right; slideoutdirection : bottom; durationin : 1500; durationout : 1500; ">
            </div>
            <!--End Second Slide-->





            <!--Third Slide-->
<!-- 
            <div class="ls-layer" style="slidedirection: right; transition2d: 92,93,105; ">
                <img src="assets/bg/blurry_sky.png" class="ls-bg img-responsive" alt="Slide background">

                <span class="ls-s-1" style=" color: #fff; line-height:45px; font-weight: 200; font-size: 35px; top:100px; left: 50px; slidedirection : top; slideoutdirection : bottom; durationin : 1000; durationout : 1000; ">
                    This is Fully Responsive <br> Twitter Bootstrap Template
                </span>

                <a class="btn-u btn-primary ls-s-1" href="#" style=" padding: 9px 20px; font-size:25px; top:220px; left: 50px; slidedirection : bottom; slideoutdirection : bottom; durationin : 2000; durationout : 2000; border-radius:2px; border: 2px solid #00A8E0;">
                    Find Out More
                </a>

                <img src="assets/mockup/black-iphone.png" alt="Slider Image" class="ls-s-1" style=" top:30px; left: 670px; slidedirection : right; slideoutdirection : bottom; durationin : 3000; durationout : 3000; ">
            </div>
 -->
            <!--End Third Slide-->





        </div>         
    </div>
</div><!--/layer_slider-->
<!--=== End Slider ===-->



