<!-- Team Section -->
    <section id="meet_us" class="">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 text-center">
                    <h2 class="section-heading wow animated pulse animated">Meet Us</h2><hr />
                    <h3 class="section-subheading text-muted wow animated pulse animated">Please feel free to contact us with questions.  We'd love to hear from you!</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6  wow animated zoomIn animation-delay-3">
                    <div class="team-member">
                        <img src="/assets/jennifer_small.jpg" class="img-responsive img-circle" alt="">
                        <h4>Jennifer Thomas</h4>
                        <p class="text-muted">CEO</p>
                        <ul class="list-inline social-buttons">
                            <li><a class="twitter" href="https://twitter.com/piggiesandpaws/status/665643204843208704" target="_blank"><i class="fa fa-twitter"></i></a>
                            </li>
                            <li><a class="facebook" href="https://www.facebook.com/JennThomasHarris?fref=ts" target="_blank"><i class="fa fa-facebook"></i></a>
                            </li>
                            <li><a class="linkedin" href="https://www.linkedin.com/company/piggies-&-paws" target="_blank"><i class="fa fa-linkedin"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-6 wow animated zoomIn animation-delay-5">
                    <div class="team-member">
                        <img src="/assets/cameron.jpg" class="img-responsive img-circle" alt="">
                        <h4>Cameron Harris</h4>
                        <p class="text-muted">COO</p>
                        <ul class="list-inline social-buttons">
                            <li><a class="twitter" href="https://twitter.com/piggiesandpaws/status/665643204843208704" target="_blank"><i class="fa fa-twitter"></i></a>
                            </li>
                            <li><a class="facebook" href="https://www.facebook.com/CameronTrent?fref=ts" target="_blank"><i class="fa fa-facebook"></i></a>
                            </li>
                            <li><a class="linkedin" href="https://www.linkedin.com/company/piggies-&-paws" target="_blank"><i class="fa fa-linkedin"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>

            </div>
            <div class="row">
                <div class="col-sm-8 col-sm-offset-2 text-center">
                    <p class="large text-muted">
                                Find us on facebook.  Follow us on Twitter.  Join us on linkedIn.
                          </p>
                </div>
            </div>
        </div>
    </section>