
    <!-- Portfolio Grid Section -->
<section id="portfolio" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 text-center">
                    <h2 class="section-heading wow animated pulse animated">Gallery</h2><hr />
                    <h3 class="section-subheading text-muted wow animated pulse animated">Contact one of the local artists in your area to see a full list of options for you.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4 portfolio-item  wow animated fadeInUp animated animation-delay-3">
                    <a href="#portfolioModal1" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="http://www.rsoguitar.com/heroku_images/photo1.png" class="img-responsive" alt="">
                    </a>
                    <div class="portfolio-caption">
                        <h4>Gather the Family</h4>
                        <p class="text-muted">Hands and Feet</p>
                    </div>
                </div>
                <div class="col-sm-4 portfolio-item wow animated fadeInUp animated animation-delay-5">
                    <a href="#portfolioModal1" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="http://www.rsoguitar.com/heroku_images/photo3.png" class="img-responsive" alt="">
                    </a>
                    <div class="portfolio-caption">
                        <h4>Decorative Art</h4>
                        <p class="text-muted">Cherish the Memories</p>
                    </div>
                </div>
                <div class="col-sm-4 portfolio-item wow animated fadeInUp animated animation-delay-7">
                    <a href="#portfolioModal1" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="http://www.rsoguitar.com/heroku_images/photo2.png" class="img-responsive" alt="">
                    </a>
                    <div class="portfolio-caption">
                        <h4>Treehouse</h4>
                        <p class="text-muted">Website Design</p>
                    </div>
                </div>
                <div class="col-sm-4 portfolio-item wow animated fadeInUp animated animation-delay-9">
                    <a href="#portfolioModal1" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="http://www.rsoguitar.com/heroku_images/photo4.png" class="img-responsive" alt="">
                    </a>
                    <div class="portfolio-caption">
                        <h4>Dream to be Heroes</h4>
                        <p class="text-muted">Kids are awesome!</p>
                    </div>
                </div>
                <div class="col-sm-4 portfolio-item wow animated fadeInUp animated animation-delay-11">
                    <a href="#portfolioModal1" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="http://www.rsoguitar.com/heroku_images/photo5.png" class="img-responsive" alt="">
                    </a>
                    <div class="portfolio-caption">
                        <h4>Hands are unique</h4>
                        <p class="text-muted">Remember the moment</p>
                    </div>
                </div>
                <div class="col-sm-4 portfolio-item wow animated fadeInUp animated animation-delay-13">
                    <a href="#portfolioModal1" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="http://www.rsoguitar.com/heroku_images/photo6.png" class="img-responsive" alt="">
                    </a>
                    <div class="portfolio-caption">
                        <h4>Celebrate something special</h4>
                        <p class="text-muted">Anniversarys and Birthdays</p>
                    </div>
                </div>
            </div>
        </div>
</section>
            