
<!-- Team Section -->
<section class="bg-light-gray">
<div class="container">
    <div class="row">
        <div class="col-sm-12 text-center">
            <h2 class="section-heading wow animated pulse animated">News and Media</h2><hr />
            <h3 class="section-subheading text-muted wow animated pulse animated">
                      <!--Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.-->
            </h3>                   
        </div>
    </div>
    <div class="row">
        <div class="col-sm-10 col-sm-offset-1">
            <div class="carousel slide testimonials testimonials-v1" id="testimonials-1">
                <div class="carousel-inner">
                    <div class="item active">
                      <div class="col-sm-12 text-center">
                            <iframe width="420" height="315" src="https://www.youtube.com/embed/TnXG7DV2LZc" frameborder="0" allowfullscreen></iframe>
                      </div>

                      <div class="testimonial-info">
                        <!--<img alt="" src="assets/user.jpg">-->
                        <span class="testimonial-author">
                             Piggies+Paws on NBC's SA Living Morning Show!  |  <a href="https://www.facebook.com/photo.php?v=10151944016802119&set=vb.71035077118&type=3&theater" target="_blank">HD Version on facebook</a>
                             <em></em>
                        </span>
                      </div>
                    </div>
<!--  //===============================================//  -->
    <!--<div class="item">-->
    <!---->
    <!--    <p>Crasjusto ducimus qui cupiditate non provident, similique sunt in culpaid est anditiis praesentium praesentium blanditiis praesentium non provident, similique sunt in culpaid est anditiis praesentium praesentium..</p>-->
    <!---->
    <!--    <div class="testimonial-info">-->
    <!--        <img alt="" src="assets/user.jpg">-->
    <!--        <span class="testimonial-author">-->
    <!--            User -->
    <!--            <em>Java Developer, Htmlstream</em>-->
    <!--        </span>-->
    <!--    </div>-->
    <!--</div>-->
<!--  //===============================================//  -->
    <!--<div class="item">-->
    <!--    <p>Crasjusto ducimus qui cupiditate non provident, similique sunt in culpaid est anditiis praesentium praesentium blanditiis praesentium non provident, similique sunt in culpaid est anditiis praesentium praesentium..</p>-->
    <!--    <div class="testimonial-info">-->
    <!--        <img alt="" src="assets/user.jpg">-->
    <!--        <span class="testimonial-author">-->
    <!--            Cupiditate -->
    <!--            <em>Web Designer</em>-->
    <!--        </span>-->
    <!--    </div>                                -->
    <!--</div>-->
<!--  //===============================================//  -->
                </div>
<!--  //=====HIDING THE ARROWS UNTIL LATER =======//  -->
    <!--<div class="carousel-arrow">-->
    <!--    <a data-slide="prev" href="#testimonials-1" class="left carousel-control">-->
    <!--        <i class="fa fa-angle-left pull-left"></i>-->
    <!--    </a>-->
    <!--    <a data-slide="next" href="#testimonials-1" class="right carousel-control">-->
    <!--        <i class="fa fa-angle-right pull-right"></i>-->
    <!--    </a>-->
    <!--</div>-->
                      
            </div>
        </div>
    </div>
</div>
</section>