
<section id="join_our_team">
<div class="container"> 
    <!-- Service Blocks -->
    <div class="row">
        <div class="col-sm-12 text-center">
            <h2 class="section-heading wow animated pulse animated">How it Works</h2><hr />
        </div>
    </div>



<div class="row">
    <div class="col-sm-4 intro wow animated fadeInUp animated animation-delay-3">
		<div class="service app-block">
            <i class="fa fa-hand-paper-o"></i>
                <div class="desc">
                    <h4>Talent and Creativity</h4>
                        <p>
                            <div align="left">
  Owner and creator Jennifer Thomas has made it possible for those with talent and creativity to make a career change and run their own businesses.  Market research has been done, and the demand for our totally unique product is overwhelming.  By becoming a independent artist, you are destined for success.  If you or someone you know has noted artistic ability, we would love to hear from you.
							</div>
						</p>
                </div>
		</div>  
    </div>
		




    <div class="col-sm-4 intro wow animated fadeInUp animated animation-delay-6">
		<div class="service app-block">
            <i class="fa fa-briefcase"></i>
                <div class="desc">
                    <h4>Your Own Business</h4>
                        <p>
                            <div align="left">
As you venture to start your own business, we provide you with a high-quality product that sells.  You will never have to beg clients to book events with you.  Anyone with children seems to want Piggies and Paws in their home.
                            </div>
                        </p>
                </div>
		</div>  
    </div>




    <div class="col-sm-4 intro wow animated fadeInUp animated animation-delay-3">
					 <div class="service app-block">
                <i class="fa fa-level-up zservice-icon"></i>
                <div class="desc">
                    <h4>Unlimited Potential</h4>
                    <p>
								<div align="left">
                                    Because we strive to maintain the quality and uniqueness of our artwork, Piggies + Paws  artists are always in great demand with their clientele.  You decide whether to do 1 or 5 events per week.
								</div>
						  </p>
                </div>
					 </div>  
        </div>
        <div class="col-sm-4 intro wow animated fadeInUp animated animation-delay-3">
					 <div class="service app-block">
                <i class="fa fa-home zservice-icon"></i>
                <div class="desc">
                    <h4>Family Friendly Schedule</h4>
                    <p>
								<div align="left">
                                    Booking and managing galleries is one of the most exciting parts of an artist’s job.  As a licensed artist, you will also be hand creating each design ordered. Learning about the details and embellishing each hand or foot design takes a considerable amount of hard work and commitment.  Fortunately, this time can easily be adjusted around your family’s schedule. 
								</div>
						  </p>
                </div>
					 </div>  
        </div>

        <div class="col-sm-4 intro wow animated fadeInUp animated animation-delay-6">
					 <div class="service app-block">
                <i class="fa fa-heart"></i>
                <div class="desc">
                    <h4>Constant Support</h4>
                    <p>
								<div align="left">
                                    It really takes a special person to be an independent artist, and although we have a steady demand for adding more artists and new regions to our company, our contract is not extended to everyone who applies. As a result, our circle of independent artists remains small, growing in unity as we grow in number. The effect is an intimate group of high-quality, loyal artists always striving for the growth of the company as a whole. We are tight-knit and in constant support of one another.   
								</div>
						  </p>
                </div>
					 </div>  
        </div>
        <div class="col-sm-4 intro wow animated fadeInUp animated animation-delay-6">
					 <div class="service app-block">
                <i class="fa fa-cogs zservice-icon"></i>
                <div class="desc">
                    <h4>Income</h4>
                    <p>
								<div align="left">
Most artistic and creative people desire career opportunities that offer both a creative outlet and a financial reward. Unfortunately, these types of careers are few and far between. However, Piggies + Paws was designed to make this dream a possibility for talented artists across the U.S.  
								</div>
						  </p>
                </div>
					 </div>  
        </div>
        <div class="col-sm-4 intro wow animated fadeInUp animated animation-delay-6">
					 <div class="service app-block">
                <i class="fa fa-child zservice-icon"></i>
                <div class="desc">
                    <h4>Becoming a Piggies + Paws <br/>
						  Independent Artist</h4>
                    <p>
								<div align="left">
<ol>
  <li>Contact Jennifer Thomas</li>
  <li>Send in personal artwork samples</li>
  <li>Artwork critiqued by Jennifer Thomas</li>
  <li>Recreate 3 Piggies + Paws designs </li>
  <li>Recreations critiqued by Jennifer Thomas </li>
  <li>Training and Contract Signing </li>
  <li>Receive supply lists and begin 15 recreations </li>
  <li>Supply orders are made</li>
  <li>Start booking parties </li>
  <li>Receive initial 100 of 200 designs </li>
  <li>Begin your Piggies + Paws small business</li>
</ol> 	  
								</div>
						  </p>
                </div>
					 </div>  
        </div>
    </div><!--/row-->
    <!-- End Service Blokcs -->
</div>
