<br/>
    <div class="container">
        <%= link_to "Manage Profile", {:controller => 'artists', :action => 'edit', :id => current_user.id}, class: "btn btn-sm btn-default" %>
        <%= link_to "Manage Hosts", {:controller => 'hosts', :action => 'index'}, class: "btn btn-sm btn-default" %>
        <%= link_to "Manage Parties", {:controller => 'parties', :action => 'index'}, class: "btn btn-sm btn-default" %>
    </div>
<br/>