<br/>
    <div class="container">
        <%= link_to "Profile", {:controller => 'artists', :action => 'edit', :id => current_user.id}, class: "btn btn-sm btn-default" %>
        <%= link_to "Hosts", {:controller => 'hosts', :action => 'index'}, class: "btn btn-sm btn-default" %>
        <%= link_to "Hosts", {:controller => 'hosts', :action => 'index'}, class: "btn btn-sm btn-default" %>
    </div>
<br/>